{% extends 'platforma/base.html' %}

{% block content %}
    <div class="container" style="display: flex; flex-direction: column;">
        {% for utwor in lista %}
            <div style="display: flex;">
                <audio controls style="margin-top: 5em; margin-right: 3em;">
                  <source src="/media/{{ utwor }}" type="audio/wav">
                Your browser does not support the audio element.
                </audio>
                <p style="margin-top: 5em;">{{ utwor }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}